<div data-role="view" data-title="Sample Capture" data-layout="demo-layout" data-show="captureAppRun">
<div class="action-area ch50">
<button class="button dh" id="captureVideo">Capture Video</button>
<button class="button dh" id="captureAudio">Capture Audio</button>
<button class="button dh" id="captureImage">Capture Image</button>
<button class="button dh" id="playAudio">Play audio</button>
</div>
<div class="result-area ch50">
<div class="results">
<div id="media"></div>
</div>
    <img id="sampleImg" />
<div class="separator"></div>
</div>
</div>